.expand-btn {
  display: none;
  @media (min-width: 768px) {
    display: block;
    font-weight: 500;
    align-self: flex-start;
    background-color: transparent;
    border: none;
    font-family: 'TT Lakes';
    font-size: 16px;
    margin-left: 24px;
    margin-bottom: 32px;
  }
}

.expand-btn::before {
  @media (min-width: 768px) {
    content: url('../img/expand.svg');
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 24px;
    margin-right: 8px;
  }
}

.expand-btn.active::before {
  @media (min-width: 768px) {
    transform: rotate(180deg);
  }
}
