.expand-btn {
  display: none;
  font-weight: 500;
  background-color: transparent;
  border: none;
  font-family: 'TT Lakes';
  font-size: 16px;
  @media (min-width: 768px) {
    display: block;
  }
}

.expand-btn--margin {
  margin-left: 24px;
}

.expand-btn::before {
  content: url('../img/expand.svg');
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 24px;
  margin-right: 8px;
}

.expand-btn.active::before {
  transform: rotate(180deg);
}
