.modalMenu {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.9);
  background-attachment: fixed;
  display: none;
  top: 0;
  @media (min-width: 1120px) {
    height: 100%;
    min-width: 1120px;
    justify-content: flex-end;
  }
  @media (min-width: 1440px) {
    width: 1440px;
  }
}

.modalMenu__container {
  transform: translateX(-400px);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
  box-shadow:
    -2px 0 4px 0 #454f7e05,
    16px 0 52px 0 #0e185033;
  z-index: 6;
  scrollbar-width: none;
  overflow-y: scroll;
  transition: all 0.3s;
  @media (min-width: 768px) {
    width: 320px;
  }
  @media (min-width: 1120px) {
    transform: translateX(0px);
    height: 100%;
    width: 440px;
    position: relative;
    overflow: visible;
  }
  .modalMenu__close-btn {
    display: inline-block;
    margin-left: 16px;
    margin-top: 24px;
    @media (min-width: 1120px) {
      position: absolute;
      left: -95px;
      margin-top: 40px;
    }
  }
  .modalMenu__title {
    margin-top: 40px;
    @media (min-width: 1120px) {
      margin-bottom: 24px;
    }
  }
  .modalMenu__form {
    padding-inline: 16px;
    @media (min-width: 1120px) {
      padding-inline: 32px;
    }
    .modalMenu__input {
      font-family: 'TT Lakes';
      height: 48px;
      width: 100%;
      padding-left: 16px;
      box-sizing: border-box;
      border: 1px solid $elementBorderColor;
      border-radius: 8px;
      margin-bottom: 16px;
    }

    .modalMenu__message {
      font-family: 'TT Lakes';
      height: 118px;
      width: 100%;
      padding-left: 16px;
      padding-top: 12px;
      box-sizing: border-box;
      border: 1px solid $elementBorderColor;
      border-radius: 8px;
      margin-bottom: 16px;
    }

    .modalMenu__agreement {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 19px;
    }
  }
  .modalMenu__submit {
    display: block;
    margin-left: auto;
  }
}

.modalMenu__container--active {
  transform: translateX(0px);
}
