.subtitle {
  height: fit-content;

  .subtitle__name {
    background-image: linear-gradient(to right, $bodyBackgroundColor, #ffffff);
    border-top: 1px solid $highlightBorderColor;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $greyTextColor;
    text-transform: uppercase;
    padding-block: 16px;
    margin: 0;
    padding-inline: 16px;
    box-sizing: border-box;
    @media (min-width: 768px) {
      padding-left: 24px;
    }
  }
}

.subtitle--margin {
  margin-bottom: 16px;
  margin-top: 32px;
  @media (min-width: 768px) {
    margin-bottom: 31px;
  }
}
