.subtitle {
  height: 80px;
  background-image: linear-gradient(to right, $bodyBackgroundColor, #ffffff);
  border-top: 1px solid $highlightBorderColor;
  margin-bottom: 16px;
  @media (min-width: 768px) {
    height: 56px;
    margin-bottom: 31px;
  }

  .subtitle__name {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $greyTextColor;
    text-transform: uppercase;
    padding-block: 16px;
    margin: 0;
    // margin-bottom: 16px;
    padding-inline: 16px;
    @media (min-width: 768px) {
      padding-left: 24px;
    }
  }
}
