.submit-btn--order {
  background-image: url(../img/Group10.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 119px;
  height: 32px;
}

.submit-btn--modal {
  background-image: url(../img/submit.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 136px;
  height: 32px;
}
